
   
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" *ngIf="!isLogin">
                <div class="carousel-inner">              
                    <div class="carousel-item active">
                          
<img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/logo%2Ffundos-amarelos-png.jpg?alt=media&token=aed9edee-d5a3-43dc-8fe0-acea08143707" height="130px">
                            
                                    <div class="carousel-caption d-md-block">
                                          <h6>copyright 2018 http//:www.PentecostalLosTeques.com
                                              <br>Developer by : Felix R. Gomez George</h6>
                                          
                                     </div>
                    </div>      
                </div>
        </div>
     
  
 




       