
<div id="carouselInicio" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F1.jpg?alt=media&token=055812df-beb0-4c68-ad41-b1d3ee3af373" alt="1">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F2.jpg?alt=media&token=bdf15912-4647-4cfe-83c2-3b350a1e41c1" alt="2">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F3.jpg?alt=media&token=b463d9d9-ba8f-410b-a74a-fb8cbf970132" alt="3">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F4.jpg?alt=media&token=092b9bc6-1f2c-420a-b326-64e1a8b970da" alt="4">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F5.jpg?alt=media&token=e32f5c4d-f19b-49d9-b9c0-c916a0a6f584" alt="5">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F6.jpg?alt=media&token=ce011248-8d6d-4ff1-8b4c-a95430bc2da1" alt="6">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F7.jpg?alt=media&token=ea19eb7a-653b-4486-8c3d-269c65339941" alt="7">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F8.jpg?alt=media&token=e08d05b2-236b-4d11-8fff-0a4f4b339f93" alt="8">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F9.jpg?alt=media&token=73235834-675a-42ba-8cf6-44bf1da4214a" alt="9">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F10.jpg?alt=media&token=35d44a4c-c153-4cf5-a070-48401f412b2b" alt="10">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F11.jpg?alt=media&token=de762ab3-aacb-4d8d-a3a9-6f54a7d3e2cb" alt="11">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F12.jpg?alt=media&token=5057ec41-3834-438b-86fc-b9293a52d0bd" alt="12">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F14.jpg?alt=media&token=eb56104b-48d6-4001-ade2-c7868258105c" alt="14">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F15.jpg?alt=media&token=0a2b7c68-c841-47ca-b4fd-4a967ba4e28d" alt="15">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/imagenes-inicio%2F16.jpg?alt=media&token=2e2285a4-d536-455c-a0b3-d97a23bcf0b2" alt="16">
      </div>
    </div>
  </div>






<!--

<section class="parallax" id="seccion1">
</section>
<section class="parallax" id="seccion2">
</section>
<section class="parallax" id="seccion3">
</section>

-->