   <!--
<section class="carousel slide" id="myCarousel">
<div class="row">
</div>
<div class="container p-t-0 m-t-2 carousel-inner">
        <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" 
        *ngFor="let banner of listaBanner;let i =index;">
        <img class="img-fluid" src="{{banner.ruta}}" alt="Carousel 1">
    </div>
</div>

</section>
  -->
  

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" *ngIf="!isLogin">
                <div class="carousel-inner">              
                    <div class="carousel-item {{ i == 0 ? 'active' : ''}}"
                        *ngFor="let banner of listaBanner; index as i ">
                          
                        <img class="d-block w-100" [src]="banner['ruta']" height="150px">
                            
                                    <div class="carousel-caption d-md-block">
                                          <h5>{{banner['titulo']}}</h5>
                                          <p>{{banner['nota']}}</p>
                                     </div>
                    </div>      
                </div>
        </div>
     
    