<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Crear Actividad</h1>
        <form #actividadesForm="ngForm" (ngSubmit)="onSubmit(actividadesForm)" class="was-validated">
 
          <div class="form-group">
                <input 
                type="text" 
                class="form-control" 
                name="nombre"
                #nombre="ngModel"
                [(ngModel)]="servicio1Service.selectActividades.nombre"
                placeholder="Agregar Nombre"
                required
                >
              </div>
  
              <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control" 
                  name="descripcion"
                  #descripcion="ngModel"
                  [(ngModel)]="servicio1Service.selectActividades.descripcion"
                  placeholder="Agregar dscripcion"
                  required
                  >                
              </div>
  
              <div class="form-group">  
                  <input 
                  type="text" 
                  class="form-control" 
                  name="direccion"
                  #direccion="ngModel"
                  [(ngModel)]="servicio1Service.selectActividades.direccion"
                  placeholder="Agregar direccion"
                  required
                  >
                </div>
  
                <div class="form-group">  
                  <input 
                  type="text" 
                  class="form-control" 
                  name="encargado"
                  #encargado="ngModel"
                  [(ngModel)]="servicio1Service.selectActividades.encargado"
                  placeholder="Agregar Encargado"
                  required
                  >
                </div>
  
                    <div class="form-group">
                        <input 
                        type="date" 
                        class="form-control" 
                        name="fecha"
                        #fecha="ngModel"
                        [(ngModel)]="servicio1Service.selectActividades.fecha"
                        placeholder="Agregar Fecha"
                        required
                        >
                      </div>
      

<!-- Carga de imagen  -->
<div class="form-group">
    <div class="card body">
      
      <input type="file" 
      class="form-control-file"
      name="file"
      (change)="getFile($event)" 
      #ruta="ngModel"
      [(ngModel)]="servicio1Service.selectActividades.ruta"
      >   
   
  
      
  
           <div class="card-body">
               <div class="progress">
                 <div class="progress-bar progress-bar-striped bg-success" 
                    role="progressbar" [style.width]="(uploadPercent | async) +
                     '%'" [attr.aria-valuenow]=" (uploadPercent | async) " aria-valuemin="0"
                    aria-valuemax="100">{{ uploadPercent | async }}
                </div>
              </div>
            </div>
         
              <input 
              
              type="hidden" 
                name="ruta"
                #ruta="ngModel"
                [(ngModel)]="servicio1Service.selectActividades.ruta"
             
                value="{{downloadURL | async}}">
                  
           
            
  </div>
  </div>
  <!-- fin de carga de imagen -->
            <div class="form-group">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">
                          Crear
                        </button>

                      </div>
  
        </form>
 
      </div>
    </div>
  </div>
</div>








  
  