

<!-- mi navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light  ">
    <a class="navbar-brand" routerLink="inicio">
      <img src="https://firebasestorage.googleapis.com/v0/b/iglesia-881cd.appspot.com/o/logo1.png?alt=media&token=9c1c1c30-4b4c-4e2e-9f75-4decdbeed44d" width="100" height="60" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
   
      
        
        
              <li class="nav-item dropdown" *ngIf="!isLogin" id="sidebar">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                       <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu" style=" width: 20rem" >
                  
                                
                        
                      <div class="card border-white mb-3" style="max-width: 18rem;">
                          <div class="card-body">
                      
                          
                      <form #LoginForm="ngForm">
                          
                          <div class="form-group">           
                            <input 
                            type="email"
                            class="form-control" 
                            name="email"  
                            [(ngModel)]="email"
                            placeholder="Enter email"
                            >
                            
                          </div>
                       
                           <div class="form-group">    
                            <input 
                            type="password" 
                            class="form-control"
                             name="password"        
                             [(ngModel)]="password"
                              placeholder="Password">
                          </div>  
                      
                          <button class="btn btn-success btn-block btn-lg"  type="button" (click)="Login(LoginForm);"  >Iniciar sesion</button>
                                       
                          </form>
                        
                    </div>
                    </div>
            
                  
      
                    </div>
            </li>
      </ul>
  <!-- Button incio sesion -->
  
  <ul class="nav navbar-nav navbar-right">
  
      <li class="nav-item" *ngIf="!isLogin" id="sidebar">
          <a class="nav-link " routerLink="inicio">Inicio</a>
        </li>
         
          <li class="nav-item dropdown" *ngIf="!isLogin" id="sidebar">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Conocenos
              </a>
              <div class="dropdown-menu" >
                  <a class="dropdown-item" routerLink="quienes-somos">Quines Somos</a>
                  <a class="dropdown-item" routerLink="familia-pastoral">Familia Pastora</a>
                  <a class="dropdown-item" routerLink="iglesias-hijas">Iglesias Hijas</a>
                  <a class="dropdown-item" routerLink="donde-estamos">Donde Estamos</a>
                </div>
          </li>  
          <li class="nav-item" *ngIf="!isLogin" id="sidebar">
              <a class="nav-link" routerLink="actividades">Actividades</a>
              
          </li>
          <li class="nav-item" *ngIf="!isLogin" id="sidebar">
            <a class="nav-link" routerLink="sistemas">Sistemas</a>
        </li>
        <li class="nav-item" *ngIf="isLogin" id="sidebar">
          <a class="nav-link" routerLink="crear-banner">Crear Banner</a>
      </li>
        <li class="nav-item" *ngIf="isLogin" id="sidebar">
            <a class="nav-link" routerLink="crear-actividades">Crear Actividades</a>
        </li>
        <li class="nav-item"  *ngIf="isLogin" id="sidebar">
          <a class="nav-link" routerLink="actividadeslist">editar lista de actividades</a>
      </li>
      <li class="nav-item" *ngIf="isLogin" id="sidebar">
        <a class="nav-link" routerLink="crear-usuario">Crear usuario</a>
    </li>
    <li class="nav-item" *ngIf="isLogin" id="sidebar">
            <button class="btn btn-outline-danger"   type="button" (click)="Logout();"  >Cerrar Sesion</button>
         
        </li>     
</ul>
   
        </div>

  </nav>
  

         