

<!-- mi navbar-->
<nav  class="navbar sticky-top navbar-expand-lg navbar-light" id="menu">
    
        <div *ngIf="!isLogin" id="sidebar">
    <a class="navbar-brand" routerLink="inicio">
      <video class="d-inline-block align-top" src="https://firebasestorage.googleapis.com/v0/b/pentecostalosteques.appspot.com/o/logo%2Flogo%20ipult.mp4?alt=media&token=f52e5aef-b33a-495f-94cb-43175e7a28a4" width="150" height="90" autoplay muted loop   ></video>
    </a>
</div>
<div *ngIf="isLogin" id="sidebar">

        <a class="navbar-brand" routerLink="principal-administrador">
                <i class="fas fa-angle-left"></i>
            Munu</a>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

 
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
   
      
        
        
              <li class="nav-item dropdown" *ngIf="!isLogin" id="sidebar">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                       <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu" style=" width: 20rem" >
                  
                                
                        
                      <div class="card border-white mb-3" style="max-width: 18rem;">
                          <div class="card-body">
                      
                          
                      <form #LoginForm="ngForm">
                          
                          <div class="form-group">           
                            <input 
                            type="email"
                            class="form-control" 
                            name="email"  
                            [(ngModel)]="email"
                            placeholder="Enter email"
                            >
                            
                          </div>
                       
                           <div class="form-group">    
                            <input 
                            type="password" 
                            class="form-control"
                             name="password"        
                             [(ngModel)]="password"
                              placeholder="Password">
                          </div>  
                      
                          <button class="btn btn-success btn-block btn-lg"  type="button" (click)="Login(LoginForm);"  >Iniciar sesion</button>
                                       
                          </form>
                        
                    </div>
                    </div>
            
                  
      
                    </div>
            </li>
      </ul>
  <!-- Button incio sesion -->
  
  <ul class="nav navbar-nav navbar-right">
  
      <li class="nav-item" *ngIf="!isLogin" id="sidebar">
          <a class="nav-link " routerLink="inicio">Inicio</a>
        </li>
         
          <li class="nav-item dropdown" *ngIf="!isLogin" id="sidebar">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  En Contruccion 
              </a>
              <div class="dropdown-menu" >
           
                  <a class="dropdown-item" routerLink="familia-pastoral">Familia Pastora</a>
                  <a class="dropdown-item" routerLink="iglesias-hijas">Iglesias Hijas</a>
                 
                </div>
          </li>
          <li class="nav-item" *ngIf="!isLogin" id="sidebar">
                <a class="nav-link" routerLink="quienes-somos">Conocenos</a>
                
            </li>  
          <li class="nav-item" *ngIf="!isLogin" id="sidebar">
              <a class="nav-link" routerLink="actividades">Actividades</a>
              
          </li>
          <li class="nav-item" *ngIf="!isLogin" id="sidebar">
            <a class="nav-link" routerLink="sistemas">Sistemas</a>
        </li>
  
    <li class="nav-item" *ngIf="isLogin" id="sidebar">
            <button class="btn btn-outline-danger"   type="button" (click)="Logout();"  >Cerrar Sesion</button>
         
        </li>     
</ul>
   
        </div>
    
  </nav>
  


